%h1{:style => "line-height: 1.5"}
  Sorry, that form has been disabled. Please visit #{link_to 'the review', controller: 'main', action: 'index', id: params[:id]} and leave the flag using the radio-button interface.
