%br/
.box
  %p
    %table#reports{ :cellpadding => "4", :cellspacing => "0" }
      %tr.th
        %th{:width => "25%"}
          AMT Req Name &amp; ID&nbsp;
        %th{:width => "30%"}
          Ratings <span style="font-weight: normal;">[#{link_to '?', { controller: 'main', action: 'help', anchor: 'attr' }, style: 'color: #fff; text-decoration: underline;'}]</span> (averaged)
        %th{:width => "28%"} &nbsp;
        %th{:width => "18%"}
          \# Reports
        %th
      = render :partial => 'main/requester', :collection => @requesters
