%div.box
  %h1 Turkopticon Data Use Policy
  %div{:style => "font-size: 1.2em"}
    %p Turkopticon reviews and other data are provided for MTurk workers' personal use and for use in tools whose <strong>primary</strong> purpose is to help MTurk workers learn about tasks and requesters.
    %p Research and commercial applications or reuse of the data are permitted as long as: 
    %p 1. The source of the data is attributed.
    %p 2. The <strong>primary</strong> goal of the application is to support MTurk workers' activities.
    %p 3. No endorsement on the part of Turkopticon users or the Turkopticon operators is claimed or implied.
    %p 4. If the application or reuse makes use of data (such as reviews) whose author is identified (even by a pseudonym) on the Turkopticon site, this data must be either:
    %p a. aggregated or anonymized, such that it is impossible to identify the original author(s) of data displayed in the reuse application, or,
    %p b. in cases where aggregation or anonymization would render impossible an application that would provide useful information or other meaningful support to MTurk workers' activities, further pseudonymized.
    %p Use of Turkopticon reviews or other data in any effort or system that serves to identify, track, monitor, surveil, or manage individual workers, any group of workers, or workers in general is explicitly forbidden. Lilly Irani and Michael "Six" Silberman, as operators of the Turkopticon system, reserve the right to make use of all available measures, including legal measures, to enforce this prohibition and the conditions for data use listed above.
    %p Posted 7 February 2020

