= stylesheet_link_tag 'tinybox'
= javascript_include_tag 'tinybox'
/
  :javascript
    window.onload = function() {
      TINY.box.show('box.html', 1, 0, 0, 1);
    };

#container
  #side-a
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/turkopticon" data-widget-id="365016898619981825">Tweets by @turkopticon</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  #side-b
    .box
      %p.big Turkopticon helps the people in the 'crowd' of crowdsourcing watch out for each other&mdash;because nobody else seems to be.
      %p.big
        Almost half of the Mechanical Turk workers who wrote their Bill of Rights demanded protection from employers who take their work without paying.
        %strong Turkopticon lets you REPORT and AVOID shady employers.
      %p.big
        %strong URGENT ACTION NEEDED
      %p As of September 3, 2021, the Turkopticon website address hosted by UCSD will be officially replaced by and solely hosted at www.turkopticon.net. Once this occurs, the old script will no longer work or be updated and maintained. Please, be sure to install the script <a href="https://greasyfork.org/en/scripts/431111-turkopticon-net" target="blank">turkopticon userscript here</a> to continue to access Turkopticon’s reviews. The old script will not forward to this address and needs to be removed.
        
      %p.big
        %strong How Turkopticon works:
      %p Turkopticon works as a userscript which can be added to script managers such as <a href="https://www.tampermonkey.net/" target="_blank">Tampermonkey</a> or <a href="https://www.greasespot.net/" target="_blank">Greasemonkey</a>. 
      %p Once you have a script manager, you can grab the latest version of the <a href="https://greasyfork.org/en/scripts/431111-turkopticon-net" target="blank">turkopticon userscript here</a>.
      %img{:src => "/images/to_screenshot_2021.png", :alt => "Turkopticon in action", :align => "right", :style => "max-width: 100%; margin-left: 6px; margin-bottom: 6px; border: 1px solid #cccccc"}
      %p Turkopticon adds functionality to Amazon Mechanical Turk as you browse for HITs and review status of work you've done. As you browse HITs, Turkopticon places a button next to each requester and highlights requesters for whom there are reviews from other workers. Bad reviews let you avoid shady employers and good reviews help you find fair ones. You can view reports made against requesters with a quick click.
      %p As you review HITs you've completed, are there HITs you weren't fairly paid for? Turkopticon adds a button that lets you review requesters from your "Status Detail" page.
      %p.big
        %strong Other Turking resources:
        %ul
          %li <a href="https://www.reddit.com/r/TurkerNation/">Turker Nation</a>
          %li <a href="https://mturkcrowd.com">MTurk Crowd</a>
          %li <a href="http://www.mturkforum.com/">MTurk Forum</a>
          %li <a href="https://www.reddit.com/r/mturk/wiki/index">MTurk wiki on the MTurk subreddit</a>
          %li <a href="https://www.reddit.com/r/HITsWorthTurkingFor/">HITsWorthTurkingFor subreddit</a>
          %li <a href="https://www.reddit.com/r/mturk">MTurk subreddit</a>
        %strong Notes for requesters:
        %ul
          %li <p>"Low cost, high quality" is a myth; you must pay for quality</p>
