= stylesheet_link_tag 'tinybox'
= javascript_include_tag 'tinybox'
/
  :javascript
    window.onload = function() {
      TINY.box.show('box.html', 1, 0, 0, 1);
    };

#container
  #side-a
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/turkopticon" data-widget-id="365016898619981825">Tweets by @turkopticon</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  #side-b
    .box
      %p.big Our mission is to organize mutual aid, resources, and advocacy to improve conditions for all people using Amazon’s Mechanical Turk (AMT) platform while striving to make this work a good job for all. 
      %p.big
        Turkopticon was founded by Lilly Irani and Six Silberman as a review website to provide AMT workers with a space to share information about bad requesters and tasks. This forum also serves as a safety net. Workers are still coming to the website ten years later to check requesters’ reviews before they accept tasks.
        %strong BUT, WAIT!  THERE IS MORE! 
      %p.big In 2019 it was decided that Turkopticon could be more than a review site. Platform workers came together to form a team with Lilly and Six. Graduate students and tech workers stepped forward to help with software needs and more. 
        %strong We are so excited to be able to say that we are now a worker-led non-profit organization!
      %p.big We advocate for AMT workers, known as Turkers, and their rights. We bring issues to the Amazon Mechanical Turk team such as unfair worker account suspensions, general questions and/or concerns from the turker/requester community, problem requesters who do things like mass reject tasks, requester billing account issues, and much more. We go where we are needed.
      %p.big Over the past year, we have conducted surveys, held open forums, spoken with turkers one on one, and interacted with workers on social media to find out what issues needed to be brought out, front and center, and addressed. What we found was very interesting. 
      %p.big Ten years ago when Lilly and Six worked to find the same information, it was determined that the number one issue on workers’ minds was mass rejections. All of these years later, that has remained unchanged! We have taken on the issue of 
      %strong mass rejections, 
      %big working with turkers from around the globe to brainstorm a better system. 
      %p.big <a href="https://www.coworker.org/petitions/end-the-harm-of-mass-rejections" target="_blank">We have delivered a petition</a> to the AMT team with the community’s ideas for ending the harm that mass rejections cause. At this time we are still fighting this battle and will continue to do so until something changes in this broken and outdated system.  We encourage you to join us in this fight! You can find us on <a href="https://twitter.com/turkopticon" target="_blank">Twitter</a>, <a href="https://www.facebook.com/Turkopticon" target="_blank">Facebook</a>, and <a href="https://www.reddit.com/user/Turkopticon/" target="_blank">Reddit</a>, or you can email us at volunteercomms@turkopticon.net. Remember, we are stronger together! 
      
      %p.big <a href="https://blog.turkopticon.net/?page_id=653" target="blank">Mturk Account Suspensions</a> 
      %p.big <a href="https://blog.turkopticon.net/?page_id=645" target="blank">General Enquiries</a> 
      %p.big <a href="https://blog.turkopticon.net/?page_id=727" target="blank">Mturk Mass Rejections</a> 
      %p.big <a href="https://blog.turkopticon.net/?page_id=1751" target="blank">Register for our next Turkers-community open forum</a>
      %p.big
  
      %p.big
        %strong How Turkopticon works:
      %p Turkopticon works as a userscript which can be added to script managers such as <a href="https://www.tampermonkey.net/" target="_blank">Tampermonkey</a> or <a href="https://www.greasespot.net/" target="_blank">Greasemonkey</a>. 
      %p Once you have a script manager, you can grab the latest version of the <a href="https://greasyfork.org/en/scripts/431111-turkopticon-net" target="blank">turkopticon userscript here</a>.
      %img{:src => "/images/to_screenshot_2021.png", :alt => "Turkopticon in action", :align => "right", :style => "max-width: 100%; margin-left: 6px; margin-bottom: 6px; border: 1px solid #cccccc"}
      %p Turkopticon adds functionality to Amazon Mechanical Turk as you browse for HITs and review status of work you've done. As you browse HITs, Turkopticon places a button next to each requester and highlights requesters for whom there are reviews from other workers. Bad reviews let you avoid shady employers and good reviews help you find fair ones. You can view reports made against requesters with a quick click.
      %p As you review HITs you've completed, are there HITs you weren't fairly paid for? Turkopticon adds a button that lets you review requesters from your "Status Detail" page.
      %p.big
        %strong Other Turking resources:
        %ul
          %li <a href="https://www.reddit.com/r/TurkerNation/">Turker Nation</a>
          %li <a href="https://mturkcrowd.com">MTurk Crowd</a>
          %li <a href="http://www.mturkforum.com/">MTurk Forum</a>
          %li <a href="https://www.turkerview.com/">Turker View</a>
          %li <a href="https://www.reddit.com/r/mturk/wiki/index">MTurk wiki on the MTurk subreddit</a>
          %li <a href="https://www.reddit.com/r/HITsWorthTurkingFor/">HITsWorthTurkingFor subreddit</a>
          %li <a href="https://www.reddit.com/r/mturk">MTurk subreddit</a>
        %strong Notes for requesters:
        %ul
          %li <p>"Low cost, high quality" is a myth; you must pay for quality</p>
