= javascript_include_tag :partial_replacer

%br/
.box
  %p
    %table#reports{ :cellpadding => "5", :cellspacing => "0" }
      %tr.th
        %th.name AMT Requester Name &amp; ID
        %th Ratings <span style="font-weight: normal;">[#{link_to '?', { controller: 'main', action: 'help', anchor: 'attr' }, style: 'color: #fff; text-decoration: underline;'}]</span>
        %th.desc Description
      = render :partial => 'main/report', :locals => {:report => @report_view, :notruncate => true}


