To report a requester, we need you to be logged in. If you've never signed into Turkopticon before, <a href="/register">you can create a login.</a>

.box{:style => "margin-top:15px; width: 50%; float: left;"}
  - form_tag do
    %p
      .label Email Address
      = text_field_tag 'email'

    %p
      .label Password
      = password_field_tag 'password'

    %p
      .label &nbsp;
      = link_to "Forgot your password?", :action => "reset_password"

    %p
      Don't have a Turkopticon password? <a href="/register">Create a login</a>

    %p
      .button= submit_tag 'Login'

    %p
      <img height=1 />

%div{:style => "display: block; margin-top: 1.2em"}
  <img src="https://www.irishtimes.com/polopoly_fs/1.3292895.1510758810!/image/image.jpg_gen/derivatives/box_620_330/image.jpg" style="max-width: 350px; margin-left: 10px" /><br/>
  <span style="margin-left: 55%; padding-right: 10px; display: inline-block; margin-top: 0.5em; font-size: 1.2em; line-height: 1.25"><strong>1 Aug 2019</strong>&nbsp;&nbsp;&nbsp;&nbsp;Turkopticon is hiring a community facilitator. We are looking for workers to help choose this person and build the future of Turkopticon.&nbsp;<a href="https://turkopticon.ucsd.edu/facilitator.html" target="_blank">More&nbsp;info&nbsp;&rarr;</a></span>
