.box
  %h2 Are you a robot?
  %p It looks like you did not click the "I AM NOT A ROBOT" box. Please go back and re-register with that box checked.
  %p We have recently had to implement this box due a swarm of robots creating fake accounts.