API_INSTALL_LOG
INSTALL_LOG
LAST_BACKUP
TO2_API_KEY

backups/
config/credentials.yml.enc
config/my.cnf
config/initializers/app_url.rb
config/initializers/cookie_verification_secret.rb
config/initializers/log.rb
config/initializers/session_store.rb
index/
php_api/dbconn.php
php_api/mysqli-dbconn.php
php_api/access-tokens.php
php_api/log/
etc/

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep


/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
