%p
  %strong Moderator utilities

%p
  =link_to "Reassign review to different requester", :controller => "mod", :action => "reassign_report_to_different_requester"

%p
  =link_to "Close account", :controller => "mod", :action => "close_account"
