%p
  %strong Moderator utilities

%p
  =link_to "Reassign review to different requester", :controller => "mod", :action => "reassign_report_to_different_requester"

%p
  =link_to "Close account", :controller => "mod", :action => "close_account"

%p
  =link_to "Mute someone", :controller => "mod", :action => "mute_person"

%p
  =link_to "Search for user by email", :controller => "mod", :action => "search_by_email"