%div
  %div{:style => "float: left;"}
    - if @location == "requesters"
      Requester List&nbsp;
    - else
      = link_to "Requester List", :controller => "main", :action => "requesters"
      &nbsp;
    - if @location == "reports"
      Reviews&nbsp;
    - else
      = link_to "Reviews", :controller => "main", :action => "index", :id => nil
      &nbsp;

  %div{:style => "float: right;"}
    = render :partial => 'layouts/nav_right'

- if session[:person_id]
  #search= render :partial => 'layouts/search'

